/*
/.**

!.gitignore
!.gitattributes
!README.md
!/.zshenv
!/.vimrc
!/.config/
!/.config/fish/
!/.config/fish/config.fish
!/.config/fish/fish_plugins
!/.config/vim/
!/.config/vim/**
!/.config/nvim/
!/.config/nvim/init.lua
!/.config/nvim/lua/
!/.config/nvim/lua/**
!/.config/tmux/
!/.config/tmux/**
!/.config/git/
!/.config/git/**
!/.config/npm/
!/.config/npm/**
!/.config/bat/
!/.config/bat/**
!/.cache/
!/.cache/zsh/
!/.cache/vim/
!/.cache/vim/swap/
!/.cache/vim/undo/
!/.bin/
!/.bin/**
!.gitkeep
