/*
/.**

!.gitignore
!README.md
!/.zshenv
!/.vimrc
!/.config/
!/.config/zsh/
!/.config/zsh/.zshrc
!/.config/zsh/rc/
!/.config/zsh/rc/**
!/.config/vim/
!/.config/vim/**
!/.config/nvim/
!/.config/nvim/init.lua
!/.config/tmux/
!/.config/tmux/**
!/.config/git/
!/.config/git/**
!/.cache/
!/.cache/zsh/
!/.cache/vim/
!/.cache/vim/swap/
!/.cache/vim/undo/
!/.data/
!/.data/zsh/
!/.data/vim/
!/.bin/
!/.bin/**
!.gitkeep
