/*
/.**

!.gitignore
!README.md
!/.zshenv
!/.vimrc
!/.config/
!/.config/zsh/
!/.config/zsh/.zshrc
!/.config/zsh/rc/
!/.config/zsh/rc/**
!/.config/nvim/
!/.config/nvim/**
!/.config/tmux/
!/.config/tmux/**
!/.cache/
!/.cache/zsh/
!/.data/
!/.data/zsh/
!.gitkeep
